{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.container {
	position: relative;
	min-height: 877px;
	height: 100%;
}
/*Style header bar*/
.header {
    padding: 10px;
    background: #Ffd200;
    color: #011c2c;
	width: 83.1vw;
	height: 50px;
	padding-right: 8vw;
	padding-left: 8vw;
}
.header h1 {
    font-size: 50px;
}

#logo {
	float: left;
	display: inline-block;
}
#tagline {
	float: right;
	display: inline-block;
	padding-top: 25px;
	background-image: url("assets/flinsafe.png");
	width: 170px;
	height: px;
	background-size: contain;
	background-repeat: no-repeat;
}

/* Style the top navigation bar */
.navbar {
	clear: right;
    overflow: hidden; /* Hide overflow */
    background-color: #011c2c;
	padding-left: 7vw;
	width: 92.1vw;
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

.dropdown {
	display: none;
	float: left;
	overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ffd200;
  color: black;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
	margin-right: 8vw;
}
/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ffd200;
    color: black; /* Black text color */
}

@media only screen and (max-width: 800px) {
	.invis-buttons {
		display: none !important;
	}
	.dropdown {
		display: block;
	}
}

/*Banner container */
.banner {
	float: center;
}

#slideshowPicture {
	background-image: url("assets/hub-banner.jpg");
	width: 99.1vw;
	height: 24.5vw;
	min-height: 300px;
	float: center;
	text-align: center;
	background-size: cover;
}
	
@media only screen and (max-width: 1000px)  {
	#innerLogin {
		width: 100vw !important;
		left: 0px !important;
	}
	.navbar {
		padding-left: 0px !important;
		width: 100vw !important;
	}
	.navbar a.right {
		margin-right: 5vw; !important;
	}
	.mapouter {
		display: none;
	}
}

@media only screen and (max-width: 350px) {
	#tagline {
		display: none !important;
	}
}

#slideshowPicture #innerLogin {
	box-sizing: border-box;
    color: #fff;
    width: 40vw;
    left: 50%;
    top: 5vw;
    position: relative;
    background: rgba(1,28,44,.65);
    padding: 1.5em;
    border-radius: 0;
    font-size: 1.2em;
	text-align: left;
}

#innerLogin h3 {
	color: #Ffd200;
}

#innerLogin p {
	padding-bottom: 1em;
}

#innerLogin .btn {
	border: 2px solid #ffd200;
    color: #ffd200;
    background: rgba(1,28,44,1);
    padding: 12px 35px;
    font-size: 17px;
    border-radius: 0;
    font-weight: 500;
	margin-top: 1em;
}

#innerLogin a {
	text-decoration: none;
}

/* non-main page content styling */
#contentBox {
	width: 60vw;
	min-height: 487px;
	min-width: 210px;
	border-radius: 1px!important;
    box-shadow: 6px 6px 2px #eee;
    border: 1px solid #c1c1c1;
	margin: auto;
	margin-top: 30px;
	padding-left: 8px;
	position: relative;
}

#tick {
	height:200px;
	width: 200px;
	margin: auto;
	display: block;
	margin-top: 15px;
}

.event {
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 20px;
}

#event4 {
	margin-top: 40px !important;
}

.eventpic {
	height: 100px;
	width: 180px;
	margin-right: 10px;
	display: inline-block;
	
}

.eventtbl {
	width: 75%;
}

.eventtbl tr {
	width: 50%
}

.text-center {
	text-align: center;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}
/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%; /* Set the width of the sidebar */
    background-color: #f1f1f1; /* Grey background color */
    padding: 20px; /* Some padding */
}
/* Main column */
.main {
    flex: 70%; /* Set the width of the main content */
    background-color: white; /* White background color */
    padding: 20px; /* Some padding */
}


.mapouter {
	position: relative;
	float: right;
	right: 20px;
	top: 20px;
}

#spacingContainer {
	height: 200px;
	margin: 30px;
}

#spacingContainer2 {
	height:20px;
}

/* Footer Styling */
.footer {
	height: 200px;
	background-color: #011c2c;
	position: absolute;
	bottom: 0px;
	width: 99.1vw;
	border-top: 10px solid #ffd200;
	padding-top: 20px;
	margin-top: 20px;
}

#footer-text {
	margin-left: 200px;
	color: white;
}

#footer-text p {
	font-size: 14px;
}

#footer-text a {
	color: #ffd200;
	text-decoration: none;
}